[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Electronic QQmail
Icon=/home/***/github/electronic-qqmail/image/Email_Chat.png
Path=/home/***/github/electronic-qqmail/electronic-qqmail-linux-x64
Exec=/home/***/github/electronic-qqmail/electronic-qqmail-linux-x64/electronic-qqmail
StartupNotify=false
StartupWMClass=electronic-qqmail
OnlyShowIn=Unity;
X-UnityGenerated=true
Name[zh_CN]=electronic-qqmail
